[Unit]
Description="Reactamole webserver"

[Service]
User=reactamole
WorkingDirectory=/home/reactamole/reactamole-server
ExecStart=stack exec reactamole-server -- 8035
Restart=always
RuntimeMaxSec=216000

[Install]
WantedBy=multi-user.target
